[Unit]
Description=DS18B20 Temperature Sensors
After=mosquitto.service
Requires=mosquitto.service

[Service]
User=root
Restart=always
Environment=PYTHONUNBUFFERED=true
StartLimitInterval=60
StartLimitBurst=3
WatchdogSec=30
ExecStart=/usr/local/bin/ds18b20.py

[Install]
WantedBy=multi-user.target
