[Unit]
Description=DS18B20 Temperature Sensors
After=mosquitto.service
Requires=mosquitto.service
StartLimitIntervalSec=0

[Service]
User=root
Restart=always
Environment=PYTHONUNBUFFERED=true
WatchdogSec=30
RestartSec=5
ExecStart=/usr/local/bin/ds18b20.py

[Install]
WantedBy=multi-user.target
